# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/

# AWS credentials
.env
.venv/
credentials
secret_key.txt
.aws/

# Serverless Framework
.serverless/

# AWS CDK
cdk.out/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
